/*Top banner elements ONLY*/

*{
    padding: 0px;
    margin: 0px;
}

#other-applications {
    height: 200px;
    width: auto;

}
.flex-header {
    display: flex;
    background-color: gray;
    justify-content: space-between;
    flex-wrap: wrap;
 }

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    float: left;
    padding: 10px;
}

h2 {
    float: left;
    padding: 10px;
    background-color: rgb(64, 113, 70);
    align-content: center;
    border-right: solid black;
}

.flex-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap, column;
    min-height: 40px;
}

nav ul {
    vertical-align: center;
    float: right;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    padding: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    display: inline-block;
    color: black;
}

nav ul li a {
    padding: 50px;
    margin: 20px;
    justify-content: space-between;
}

.flex-hero {
    margin: 0px;
    background-color: rgb(151, 193, 151);
    display: flex;
}

.flex-hero img {
    display: inline-block;
    height: 400px;
    width: 200px;
    border-radius: 15%;
}

.section-container {
    position: absolute;
  }
  
  .section-container h2 {
    float: left;
    padding: 10px;
    background-color: rgb(64, 113, 70);
    align-content: center;
    border-right: solid black;
  }
  
  .section-container p {
    position: relative;
    margin-left: 220px;    
    background-color: rgb(64, 113, 70);
  }

  .images-section {
    margin-top: 100px;
    position:absolute;
  }

  .image-section h2 {
    position: absolute;
  }

   .images-section fig {
    margins: 0px;
    height: 200px;
    width: 100px;
  }

  .contact-flex {
    margin-top: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap, column;
    min-height: 40px;
}

.contact-flex ul {
    justify-content: space-evenly;
}

.contact-flex ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    padding: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    display: inline-block;
    color: black;
}

nav ul li a {
    padding: 50px;
    margin: 20px;
    justify-content: space-between;
}

footer {
    margin-top: 50px;
}