/*play around with functions later*/
.flex-header {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    height: 40px;
    padding: 10px;
    margin: 20px;
    border: 3px solid black;
    background-color: gray
}

.flex-item-1 {
 
}

.flex-item-2 {

}

.nav-bar-item {
    display: inline;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 20px;
    background-color: pink;
    border: solid black
}

.hero {
    display: flex
    
    background-color: gray;
}

.hero-pic {
    display: inline-block;
    height: 400px;
    width: 200px;
}

.flex-main {
    display: flex;
    justify-content: space-between;
}

.flex-section {
    display: inline block;
    margin: 20px;
    border: solid black
}