/*Top banner elements ONLY*/

*{
    background-color: rgb(216, 220, 211);
    margin: 0px;
}

.flex-header {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
 }

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    float: left;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
}

nav ul {
    vertical-align: center;
    float: right;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: middle;    
    padding-top: 15px;}

nav ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    padding: 20px;
    flex-wrap: wrap;
    display: inline;
    color: black;
    border: solid black
}

.flex-hero {
    margin: 0px;
    background-color: green;
    display: flex;
}

.flex-hero img {
    display: inline-block;
    height: 400px;
    width: 200px;
    border-radius: 15%;
}

.flex-about {
    margin: 10px;
    display:flex;
}

div h2 {
    float: left;
    padding: 10px;
    flex-wrap: wrap;
    background-color: yellow;
    height: 100px;
    width: 200px;
    align-content: center;
    border-right: solid black;
}

p {
    padding: 10px;
    height: 100px;
    background-color: yellow;
    border-right: solid black;
}

.flex-deployed {
    margin: 10px;
    display:flex;
}

.flex-deployed section img {
    height: 600px;
    width: 600px;
}

#other-applications {
    flex-wrap: wrap;
    height: 300px;
    width: 200px;
}

.flex-contact {
    margin: 10px;
    display:flex;
}

footer h2 {
    backgroung-color: white
    align-content: center;
}
/*
.flex-main {
    display: flex;
    justify-content: space-between;
}

.flex-section {
    display: inline block;
    margin: 20px;
    border: solid black
}

#about-christopher {
    display: inline;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 20px;
    background-color: pink;
    border: solid black
}

.flex-about {
    display: flex;
    justify-content: space-between;
}
